In [4]:
import upwork
#https://github.com/upwork/python-upwork
public_key='8b4e214913168000580280e93e9a2b66'
secret_key='5a38eba13351a43d'
client = upwork.Client(public_key, secret_key)

In [8]:
ver= client.auth.get_authorize_url()
verif=ver.rsplit("=",1)[1]
ver

'https://www.upwork.com/services/api/auth?oauth_token=d85b1b55548de88b84d1137aba18548c'

In [9]:
verif='41eb33362b8ad2dd6c2213c13682704a'

In [10]:
oauth_access_token, oauth_access_token_secret = client.auth.get_access_token(verif)

In [287]:
client = upwork.Client(public_key, secret_key,
                      oauth_access_token=oauth_access_token,
                      oauth_access_token_secret=oauth_access_token_secret)

In [288]:
# article writing category id - 531770282597445642
# Article & Blog Writing
# client.provider_v2.get_categories_metadata()

In [313]:
i=0
response=[]
data = {'q':"data science",'hours': '1', 'profile_type':'Independent'}
response=client.provider_v2.search_providers(data=data, page_offset=0, page_size=100)
# response = response+r

In [314]:
len(response)

96

In [217]:
#client.auth.get_request_token(ver)
#response=[]
for i in range(0,35):
#     data = {'q': 'blog', 'hours': '1', 'profile_type':'Independent'}
#     r=client.provider_v2.search_providers(data=data, page_offset=i*100, page_size=100)
    data = {'hours': '1', 'profile_type':'Independent',
            'subcategory2':'Article & Blog Writing'}
    r=client.provider_v2.search_providers(data=data, page_offset=i*100, page_size=100)
    response = response+r

In [218]:
# for i in range(0,20):
#     data = {'q': 'writer', 'hours': '1', 'profile_type':'Independent'}
#     r=client.provider_v2.search_providers(data=data, page_offset=i*100, page_size=100)
#     response = response+r

In [312]:
len(response)

0

In [92]:
a=[1,2,3]
b=[3,4,5]
c=a+b
a.append(b)

In [90]:
response[99]

{u'categories2': [u'Writing',
  u'Web, Mobile & Software Dev',
  u'Engineering & Architecture',
  u'Data Science & Analytics',
  u'Admin Support'],
 u'country': u'United States',
 u'description': u"I have ample experience writing for blogs, websites, newspapers and personal statements for applications to grad school. You may find some of my work at the Gainesville Sun's website Gainesville.com\n\nAlso can work with Systems Engineering. Specialized in creative problem solving, project and systems management, optimization analysis and multiple other areas.Extensive experience with Visual Basic, Matlab, Simulink and multiple simulation software. I&#039;m also Bilingual (Spanish and English)",
 u'feedback': u'0.0',
 u'id': u'~0164f1637696555008',
 u'last_activity': u'June 8, 2014',
 u'member_since': u'May 9, 2013',
 u'name': u'Nadine N.',
 u'portfolio_items_count': u'0',
 u'portrait_50': u'https://odesk-prod-portraits.s3.amazonaws.com/Users:nadinenavarro5:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=VUjrCQKX1AD0BkQoVB%2FYUXkD14g%3D',
 u'profile_type': u'Independent',
 u'rate': u'55.56',
 u'skills': [u'legal-research',
  u'blog-writing',
  u'matlab',
  u'process-improvement',
  u'microsoft-visual-studio',
  u'biography-writing',
  u'article-writing',
  u'translation-spanish-english',
  u'translation-english-spanish',
  u'cover-letter-writing'],
 u'test_passed_count': u'4',
 u'title': u'Engineering Problem Solving and Professional writing and editor'}

In [47]:
response[0]

{u'categories2': [u'Web, Mobile & Software Dev',
  u'Admin Support',
  u'IT & Networking'],
 u'country': u'India',
 u'description': u" 7 Years experience PHP Programming, Designing templates, Frontend and Backend Development. I don't believe in setting things right but I believe in doing things right without any conflicts. \n \n248 Hours\n24x7 availability\nExpertise in Responsive Designs using Bootstrap and media queries only\n\nSound knowledge of following:\n1. PHP\n2. CodeIgniter\n3. Bootstrap\n4. HTML5/CSS3\n5. Bootstrap\n6. jQuery\n7. Javascript\n8. MySQL Programming\n9. Foundation\n10. Wordpress\n",
 u'feedback': u'5.0',
 u'id': u'~01eec1ca659cd5f1f5',
 u'last_activity': u'February 21, 2017',
 u'member_since': u'February 19, 2015',
 u'name': u'Pooja Pathania',
 u'portfolio_items_count': u'1',
 u'portrait_50': u'https://odesk-prod-portraits.s3.amazonaws.com/Users:poojapathania:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=IewusguE3d6AKzCsAwu2u8OBFm4%3D&1470110464077171',
 u'profile_type': u'Independent',
 u'rate': u'10.5',
 u'skills': [u'php',
  u'drupal',
  u'codeigniter',
  u'wordpress',
  u'bootstrap',
  u'psd-to-html',
  u'jquery',
  u'ajax',
  u'javascript'],
 u'test_passed_count': u'6',
 u'title': u'jQuery, PHP, CodeIgniter,  Bootstrap, HTML5/CSS3,  Responsive Desig'}

In [155]:
keys=r.keys()

In [158]:
keys

[u'categories2',
 u'profile_type',
 u'title',
 u'skills',
 u'country',
 u'name',
 u'last_activity',
 u'rate',
 u'member_since',
 u'portfolio_items_count',
 u'id',
 u'test_passed_count',
 u'feedback']

In [159]:
#skills, categories have multiple
keys=['portrait_50',
 'categories2',
 'profile_type',
 'title',
 'skills',
 'country',
 'description',
 'name',
 'last_activity',
 'rate',
 'member_since',
 'portfolio_items_count',
 'id',
 'test_passed_count',
 'feedback']

In [315]:
csvname='upworkResourceCSV3'
f = open(csvname+'.csv','w')

In [316]:
f.write(";".join(k))

In [317]:
# f.close()

In [318]:
#f = open('upworkResourceCSV.csv','a')
for r in response:
    data=[]
    f.write("\n")
    for key in keys:
        try:
            value=r[key]
            if isinstance(value, (list, tuple)):
                value="--".join(value)
            
            if key == "id":
                #https://www.upwork.com/freelancers/_~01ff203de58fed31fb/
                value=r"https://www.upwork.com/freelancers/_"+value
            value=value.encode('ascii', 'ignore')
            value=''.join(value.splitlines())
            data.append(value.replace(";",'..'))
        except:
            data.append("-")

    f.write(";".join(data))

f.close()

In [319]:
import pandas as pd
df = pd.read_csv(csvname+'.csv',delimiter=";")
df.shape

(96, 15)

In [320]:
df[df.duplicated()].shape

(0, 15)

In [321]:
df2=df.drop_duplicates()

In [322]:
df2.shape

(96, 15)

In [302]:
df['last_activity']

Series([], Name: last_activity, dtype: object)

In [306]:
df2['last_activity']=pd.to_datetime(df2.last_activity)

In [307]:
df2[df2.last_activity>'2017-02-02'].shape

(0, 15)

In [242]:
df3=df2[df2.last_activity>'2017-02-02']

In [256]:
df4=df3[(df3.rate>=10) & (df3.rate<=30)]

(237, 15)

In [257]:
df4.to_csv("RecentActivity.csv")

In [323]:
sample=df2.sample(10)
sample.to_csv("2_24_sampele_"+str(10)+".csv")

# Testing Dataframes

In [325]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
dframe = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])

In [327]:
dframe.index.get_loc(df.iloc[0].name)

KeyError: 0

In [328]:
dframe

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

In [252]:
df.drop(df.index[[0,1]])

            name  reports  year
Santa Cruz  Tina       31  2013
Maricopa    Jake        2  2014
Yuma         Amy        3  2014

In [254]:
df.drop(['Maricopa', 'Yuma'])

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013

In [281]:
df['new']=''

In [282]:
df.loc["Cochice",'new']=1

In [283]:
df

             name  reports  year new
Cochice     Jason        4  2012   1
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014
new             1        1     1

In [263]:
file=r"C:\Users\amac\Documents\Development\0117-DaiAnalysis\Upwork\2_25_sampele_10.csv"
readfile=open(file,'r')
readfile.readline()

',portrait_50,categories2,profile_type,title,skills,country,description,name,last_activity,rate,member_since,portfolio_items_count,id,test_passed_count,feedback\n'

In [264]:
readfile.readline()

'343,https://odesk-prod-portraits.s3.amazonaws.com/Users:writing_4_scrapz:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=%2FqlFtGoPkrg299sAcugvZ3IoMec%3D&1459631229497367,Writing,Independent,Your ideas ... realized,academic-writing--copy-editing--content-writing--seo-keyword-research--creative-writing--research-papers--article-writing--ghostwriting--sports-writing--social-media-management,United States,"Paper Cuts provides superior writing services at an affordable price.  A solo operation, I pride myself on giving my clients the personal attention that other larger service providers cannot.  I am dedicated to meeting deadlines and expectations, and always give my clients the type of service that I would expect to receive myself.",Paper Cuts,2017-02-24,14.0,"July 12, 2007",19,https://www.upwork.com/freelancers/_~016326f4b433ba31ca,1,4.7476995938\n'

In [265]:
import csv
with open(file, mode='r') as infile:
    reader = csv.reader(infile)
    mydict = {rows[0]:rows[1] for rows in reader}

In [270]:
reader = csv.DictReader(open(file, 'rb'))
dict_list = []
for line in reader:
    dict_list.append(line)

In [272]:
dict_list[0]

{'': '343',
 'categories2': 'Writing',
 'country': 'United States',
 'description': 'Paper Cuts provides superior writing services at an affordable price.  A solo operation, I pride myself on giving my clients the personal attention that other larger service providers cannot.  I am dedicated to meeting deadlines and expectations, and always give my clients the type of service that I would expect to receive myself.',
 'feedback': '4.7476995938',
 'id': 'https://www.upwork.com/freelancers/_~016326f4b433ba31ca',
 'last_activity': '2017-02-24',
 'member_since': 'July 12, 2007',
 'name': 'Paper Cuts',
 'portfolio_items_count': '19',
 'portrait_50': 'https://odesk-prod-portraits.s3.amazonaws.com/Users:writing_4_scrapz:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=%2FqlFtGoPkrg299sAcugvZ3IoMec%3D&1459631229497367',
 'profile_type': 'Independent',
 'rate': '14.0',
 'skills': 'academic-writing--copy-editing--content-writing--seo-keyword-research--creative-writing--research-papers--article-writing--ghostwriting--sports-writing--social-media-management',
 'test_passed_count': '1',
 'title': 'Your ideas ... realized'}