In [4]:
import upwork
#https://github.com/upwork/python-upwork
public_key='8b4e214913168000580280e93e9a2b66'
secret_key='5a38eba13351a43d'
client = upwork.Client(public_key, secret_key)

In [8]:
ver= client.auth.get_authorize_url()
verif=ver.rsplit("=",1)[1]
ver

'https://www.upwork.com/services/api/auth?oauth_token=d85b1b55548de88b84d1137aba18548c'

In [9]:
verif='41eb33362b8ad2dd6c2213c13682704a'

In [10]:
oauth_access_token, oauth_access_token_secret = client.auth.get_access_token(verif)

In [11]:
client = upwork.Client(public_key, secret_key,
                      oauth_access_token=oauth_access_token,
                      oauth_access_token_secret=oauth_access_token_secret)

In [202]:
# article writing category id - 531770282597445642
# Article & Blog Writing
# client.provider_v2.get_categories_metadata()

In [207]:
i=0
response=[]
data = {'hours': '1', 'profile_type':'Independent',
        'subcategory2':'Article & Blog Writing'}
r=client.provider_v2.search_providers(data=data, page_offset=i*100, page_size=100)
# response = response+r

In [208]:
len(r)

100

In [217]:
#client.auth.get_request_token(ver)
#response=[]
for i in range(0,35):
#     data = {'q': 'blog', 'hours': '1', 'profile_type':'Independent'}
#     r=client.provider_v2.search_providers(data=data, page_offset=i*100, page_size=100)
    data = {'hours': '1', 'profile_type':'Independent',
            'subcategory2':'Article & Blog Writing'}
    r=client.provider_v2.search_providers(data=data, page_offset=i*100, page_size=100)
    response = response+r

In [218]:
# for i in range(0,20):
#     data = {'q': 'writer', 'hours': '1', 'profile_type':'Independent'}
#     r=client.provider_v2.search_providers(data=data, page_offset=i*100, page_size=100)
#     response = response+r

In [219]:
len(response)

1244

In [92]:
a=[1,2,3]
b=[3,4,5]
c=a+b
a.append(b)

In [90]:
response[99]

{u'categories2': [u'Writing',
  u'Web, Mobile & Software Dev',
  u'Engineering & Architecture',
  u'Data Science & Analytics',
  u'Admin Support'],
 u'country': u'United States',
 u'description': u"I have ample experience writing for blogs, websites, newspapers and personal statements for applications to grad school. You may find some of my work at the Gainesville Sun's website Gainesville.com\n\nAlso can work with Systems Engineering. Specialized in creative problem solving, project and systems management, optimization analysis and multiple other areas.Extensive experience with Visual Basic, Matlab, Simulink and multiple simulation software. I&#039;m also Bilingual (Spanish and English)",
 u'feedback': u'0.0',
 u'id': u'~0164f1637696555008',
 u'last_activity': u'June 8, 2014',
 u'member_since': u'May 9, 2013',
 u'name': u'Nadine N.',
 u'portfolio_items_count': u'0',
 u'portrait_50': u'https://odesk-prod-portraits.s3.amazonaws.com/Users:nadinenavarro5:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=VUjrCQKX1AD0BkQoVB%2FYUXkD14g%3D',
 u'profile_type': u'Independent',
 u'rate': u'55.56',
 u'skills': [u'legal-research',
  u'blog-writing',
  u'matlab',
  u'process-improvement',
  u'microsoft-visual-studio',
  u'biography-writing',
  u'article-writing',
  u'translation-spanish-english',
  u'translation-english-spanish',
  u'cover-letter-writing'],
 u'test_passed_count': u'4',
 u'title': u'Engineering Problem Solving and Professional writing and editor'}

In [47]:
response[0]

{u'categories2': [u'Web, Mobile & Software Dev',
  u'Admin Support',
  u'IT & Networking'],
 u'country': u'India',
 u'description': u" 7 Years experience PHP Programming, Designing templates, Frontend and Backend Development. I don't believe in setting things right but I believe in doing things right without any conflicts. \n \n248 Hours\n24x7 availability\nExpertise in Responsive Designs using Bootstrap and media queries only\n\nSound knowledge of following:\n1. PHP\n2. CodeIgniter\n3. Bootstrap\n4. HTML5/CSS3\n5. Bootstrap\n6. jQuery\n7. Javascript\n8. MySQL Programming\n9. Foundation\n10. Wordpress\n",
 u'feedback': u'5.0',
 u'id': u'~01eec1ca659cd5f1f5',
 u'last_activity': u'February 21, 2017',
 u'member_since': u'February 19, 2015',
 u'name': u'Pooja Pathania',
 u'portfolio_items_count': u'1',
 u'portrait_50': u'https://odesk-prod-portraits.s3.amazonaws.com/Users:poojapathania:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=IewusguE3d6AKzCsAwu2u8OBFm4%3D&1470110464077171',
 u'profile_type': u'Independent',
 u'rate': u'10.5',
 u'skills': [u'php',
  u'drupal',
  u'codeigniter',
  u'wordpress',
  u'bootstrap',
  u'psd-to-html',
  u'jquery',
  u'ajax',
  u'javascript'],
 u'test_passed_count': u'6',
 u'title': u'jQuery, PHP, CodeIgniter,  Bootstrap, HTML5/CSS3,  Responsive Desig'}

In [155]:
keys=r.keys()

In [158]:
keys

[u'categories2',
 u'profile_type',
 u'title',
 u'skills',
 u'country',
 u'name',
 u'last_activity',
 u'rate',
 u'member_since',
 u'portfolio_items_count',
 u'id',
 u'test_passed_count',
 u'feedback']

In [159]:
#skills, categories have multiple
keys=['portrait_50',
 'categories2',
 'profile_type',
 'title',
 'skills',
 'country',
 'description',
 'name',
 'last_activity',
 'rate',
 'member_since',
 'portfolio_items_count',
 'id',
 'test_passed_count',
 'feedback']

In [231]:
f = open('upworkResourceCSV2.csv','w')

In [232]:
f.write(";".join(k))

In [233]:
# f.close()

In [234]:
#f = open('upworkResourceCSV.csv','a')
for r in response:
    data=[]
    f.write("\n")
    for key in keys:
        try:
            value=r[key]
            if isinstance(value, (list, tuple)):
                value="--".join(value)
            
            if key == "id":
                #https://www.upwork.com/freelancers/_~01ff203de58fed31fb/
                value=r"https://www.upwork.com/freelancers/_"+value
            value=value.encode('ascii', 'ignore')
            value=''.join(value.splitlines())
            data.append(value.replace(";",'..'))
        except:
            data.append("-")

    f.write(";".join(data))

f.close()

In [235]:
import pandas as pd
df = pd.read_csv('upworkResourceCSV2.csv',delimiter=";")

In [236]:
df[df.duplicated()].shape

(9, 15)

In [237]:
df2=df.drop_duplicates()

In [238]:
df2.shape

(1235, 15)

In [239]:
df['last_activity']

0        November 29, 2016
1         November 8, 2016
2        February 22, 2017
3        February 15, 2017
4         February 3, 2017
5         February 9, 2017
6       September 26, 2014
7        November 18, 2016
8        November 21, 2016
9          August 16, 2014
10        January 10, 2017
11            June 1, 2012
12       December 20, 2012
13           March 4, 2011
14            July 4, 2016
15          March 31, 2012
16          August 6, 2012
17        October 16, 2014
18       February 14, 2016
19           June 25, 2011
20       February 21, 2017
21       February 11, 2017
22       February 23, 2017
23       February 23, 2017
24       February 23, 2017
25       February 23, 2017
26       February 22, 2017
27       February 24, 2017
28       February 17, 2017
29           July 14, 2016
               ...
1214          June 6, 2011
1215     November 11, 2010
1216        March 30, 2012
1217        April 14, 2011
1218       January 5, 2011
1219      November 8, 2009
1220      January 26, 2010
1221      October 19, 2010
1222    September 19, 2012
1223        March 15, 2015
1224         April 4, 2016
1225     February 24, 2017
1226          June 8, 2015
1227      December 8, 2014
1228         March 7, 2014
1229        April 19, 2011
1230     February 21, 2016
1231     February 24, 2017
1232      November 7, 2013
1233         July 26, 2013
1234           May 9, 2013
1235      December 4, 2015
1236         June 29, 2009
1237         July 25, 2009
1238       January 9, 2016
1239         March 4, 2015
1240         July 13, 2010
1241      February 6, 2011
1242     December 30, 2010
1243         July 25, 2016
Name: last_activity, dtype: object

In [240]:
df2['last_activity']=pd.to_datetime(df2.last_activity)

In [241]:
df2[df2.last_activity>'2017-02-02'].shape

(360, 15)

In [242]:
df3=df2[df2.last_activity>'2017-02-02']

In [256]:
df4=df3[(df3.rate>=10) & (df3.rate<=30)]
df4.shape

(237, 15)

In [257]:
df4.to_csv("RecentActivity.csv")

In [260]:
sample=df4.sample(75)
sample.to_csv("2_24_sampele_"+str(75)+".csv")

# Testing Dataframes

In [244]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

In [248]:
df.index.get_loc(df.iloc[0].name)

0

In [252]:
df.drop(df.index[[0,1]])

            name  reports  year
Santa Cruz  Tina       31  2013
Maricopa    Jake        2  2014
Yuma         Amy        3  2014

In [254]:
df.drop(['Maricopa', 'Yuma'])

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013

In [263]:
file=r"C:\Users\amac\Documents\Development\0117-DaiAnalysis\Upwork\2_25_sampele_75.csv"
readfile=open(file,'r')
readfile.readline()

',portrait_50,categories2,profile_type,title,skills,country,description,name,last_activity,rate,member_since,portfolio_items_count,id,test_passed_count,feedback\n'

In [264]:
readfile.readline()

'343,https://odesk-prod-portraits.s3.amazonaws.com/Users:writing_4_scrapz:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=%2FqlFtGoPkrg299sAcugvZ3IoMec%3D&1459631229497367,Writing,Independent,Your ideas ... realized,academic-writing--copy-editing--content-writing--seo-keyword-research--creative-writing--research-papers--article-writing--ghostwriting--sports-writing--social-media-management,United States,"Paper Cuts provides superior writing services at an affordable price.  A solo operation, I pride myself on giving my clients the personal attention that other larger service providers cannot.  I am dedicated to meeting deadlines and expectations, and always give my clients the type of service that I would expect to receive myself.",Paper Cuts,2017-02-24,14.0,"July 12, 2007",19,https://www.upwork.com/freelancers/_~016326f4b433ba31ca,1,4.7476995938\n'