In [3]:
import pandas as pd
from MutiprocessDataframe import callfunction
import numpy as np

In [9]:
basefolder=r'C:\Users\amac\Documents\Development\0117-DaiAnalysis\Upwork\api'
print ("Calling MultiProcess")
resourceslist = callfunction(basefolder)
resourceslist.shape

Calling MultiProcess

(417436, 16)

In [10]:
#READING PANDAS
# csvname='upworkResourceCSV_10k'
# dfsample = pd.read_csv(csvname+'.csv',delimiter=";")
# dfsample.shape

In [11]:
# sample=dfsample.sample(20)
# sample.head()

In [16]:
print(resourceslist[resourceslist.duplicated()].shape)
df2=resourceslist.drop_duplicates()
print(df2.shape)

(63337, 16)
(354099, 16)

NameError: name 'np' is not defined

In [30]:
df2=df2.replace("-",np.nan)
df2=df2.replace("0",np.nan)
df2=df2.replace("2",np.nan)
df2['last_activity']

0                        NaN
1          February 26, 2017
2              March 1, 2017
3              March 1, 2017
4              March 2, 2017
5              March 1, 2017
6              March 2, 2017
7          February 27, 2017
8          February 27, 2017
9          February 28, 2017
10         February 28, 2017
11             March 2, 2017
12         February 25, 2017
13             March 1, 2017
14             March 1, 2017
15         February 27, 2017
16             March 1, 2017
17             March 1, 2017
18         February 27, 2017
19         February 28, 2017
20             March 1, 2017
21             March 2, 2017
22         February 25, 2017
23             March 2, 2017
24         February 18, 2017
25             March 2, 2017
26             March 1, 2017
27         February 24, 2017
28         February 27, 2017
29         February 21, 2017
                 ...
417286       January 6, 2016
417287          July 8, 2015
417289      November 9, 2015
417290     February 26, 2015
417291        March 21, 2016
417292     February 25, 2016
417293      October 19, 2013
417294      February 8, 2016
417295         July 12, 2016
417307      October 21, 2014
417317       August 29, 2016
417319       January 7, 2015
417324    September 26, 2016
417325     February 15, 2016
417326     November 15, 2014
417343          May 11, 2014
417344     February 27, 2014
417354      December 4, 2016
417358          May 31, 2016
417372    September 21, 2016
417376       August 13, 2015
417377         April 5, 2016
417378         July 14, 2016
417379      January 19, 2016
417380      January 16, 2016
417397       August 26, 2016
417398      December 4, 2015
417427    September 22, 2015
417431     November 22, 2015
417433     November 16, 2016
Name: last_activity, dtype: object

In [31]:
df2['last_activity']=pd.to_datetime(df2.last_activity,format="%B %d, %Y")

In [33]:
df3=df2[df2.last_activity>'2017-02-14']

In [37]:
df3['rate']=df3.rate.astype('float')
df3.dtypes

C:\Users\amac\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

portrait_50                      object
categories2                      object
profile_type                     object
title                            object
skills                           object
country                          object
description                      object
name                             object
last_activity            datetime64[ns]
rate                            float64
member_since                     object
portfolio_items_count            object
id                               object
test_passed_count                object
feedback                         object
filename                         object
dtype: object

In [46]:
df4=df3[(df3.rate>=10) & (df3.rate<=30)].copy()
df4.shape

(17516, 16)

In [63]:
#merge in used accounts
used1=r'2_24_sampele_75.csv'
used2=r'pretest_09-2.csv'
used1 = pd.read_csv(used1)
used2 = pd.read_csv(used2)

In [64]:
used2.shape

(25, 2)

In [66]:
used1['alreadyMessaged']="T"
used2['alreadyMessaged']="T"

In [67]:
url1=used1[['id','alreadyMessaged']]
url2=used2[['id','alreadyMessaged']]
url3=url1.append(url2)

In [68]:
url3.shape

(102, 2)

In [69]:
df5=df4.merge(url3,on=['id'],how="left")

In [73]:
df5[df5.alreadyMessaged=='T'].shape

(52, 17)

In [74]:
df5.to_csv("All_Writers_18k.csv")

In [76]:
i=350
sample=df5.sample(i)
sample.to_csv("3_02_sampele_"+str(i)+".csv")

In [4]:
basefolder=r'C:\Users\amac\Documents\GoogleDrive\Washu\01-17-Dai\Upwork\UpworkShared\Batch1\Batch1results'
print ("Calling MultiProcess")
resourceslist = callfunction(basefolder)
resourceslist.shape

Calling MultiProcess

(325, 32)

In [26]:
resourceslist.tail()

,Unnamed: 0,Unnamed: 0.1,[.ShellClassInfo],accolade,alreadyMessaged,api_rate,availability,categories2,country,description,...,portfolio_items_count,portrait_50,profile_type,scraped_rate,skills,success,test_passed_count,title,total_hours,worked
323,148.0,2486.0,NaN,NaN,NaN,23.33,AvailableLess than 30 hrs/weekAvailableLess th...,Writing,Serbia,In love with writing and psychology. Having an...,...,3.0,https://odesk-prod-portraits.s3.amazonaws.com/...,Independent,$23.33,counseling-psychology--academic-writing--human...,88% Job Success,NaN,Psychologist & Writer,4.0,4
324,149.0,1591.0,NaN,NaN,NaN,12.50,AvailableMore than 30 hrs/weekAvailableMore th...,Translation--Writing--Design & Creative--Sales...,Kenya,Actions speak louder than words. I walk the ta...,...,6.0,https://odesk-prod-portraits.s3.amazonaws.com/...,Independent,$12.50,seo--ebook-writing--microsoft-word--editorial-...,100% Job Success,5.0,"Re- writer, Article writer, Content Writer, SE...",7.5,8
325,NaN,NaN,InfoTip=This folder is shared online.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,NaN,NaN,IconFile=C:\Program Files (x86)\Google\Drive\g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,NaN,NaN,IconIndex=16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#resourceslist.messaged

In [13]:
#rl=resourceslist.drop_duplicates()

In [5]:
r1=resourceslist

In [31]:
r1=resourceslist[resourceslist['messaged'].notnull()]

In [37]:
rm=r1[r1['messaged']=='Y']
rm.shape

(216, 33)

In [8]:
r2=r1.drop_duplicates(subset='id')

In [9]:
r2.shape

(156, 32)

In [42]:
r2['messaged']='Y'

C:\Users\amac\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [43]:
r2.to_csv('merged_batch1.csv')

In [ ]:
basefolder=r'C:\Users\amac\Documents\GoogleDrive\Washu\01-17-Dai\Upwork\UpworkShared\Batch1\Batch1Input\159'
print ("Calling MultiProcess")
b159 = callfunction(basefolder)
b159.shape